*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	padding-left: 1rem;
	padding-right: 1rem;
}

.container {
	max-width: 1200px;
	width: calc(100vw - 4rem);
	margin: 2rem auto;
}

button {
	font-size: inherit;
	font-family: inherit;
}

.btn {
	--hue: 164;
	--color: hsl(var(--hue), 100%, 67%);
	padding: 1em 1em;
	background: var(--color);
	border: none;
	color: black;
	border-radius: .5em;
	font-size: .75em;
	cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
	--color: hsl(var(--hue), 100%, 84%);
}

.comment {
	padding: .5rem;
	border: 1px solid #ccd0ff;
	border-radius: .1rem;
}

.comment .comment-user {
	font-size: 1.2rem;
	font-weight: bold;
}

.comment .comment-action-btn {
	--hue: 164;
	--color: hsl(var(--hue), 100%, 67%);
	/* border: 1px solid #5cffd3; */
	background: var(--color);
	border: 1px solid black;
	border-radius: .3rem;
	display: inline-block;
	margin-right: .7rem;
	padding: .1rem .3rem;
	width: fit-content;
}

.comment-action-btn:hover,
.comment-action-btn:focus-visible {
	--color: hsl(var(--hue), 100%, 84%);
}

.comment .comment-child {
	margin-left: 1rem;
	margin-top: 1rem;
}

.comment-input,
.comment-new-input {
	margin-top: .3rem;
	max-width: 100%;
	width: calc(100vw - 5rem);
}
